body {
    background: rgb(112,111,111);
    background: linear-gradient(0deg, rgba(112,111,111,1) 0%, rgba(189,194,194,1) 100%);
}

.row {
    gap: 100px;
}

.card_trabajos {
    padding: 80px 50px;
    gap: 100px;
}

.img_cards {
    width: 400px;
    border: 20px solid white;
}

.titulo_cards {
    color: white;
}

.desc_cards {
    font-weight: bold;
    color: white;
}

@media(max-width:732px){
    .card_trabajos {
        display: flex;
        flex-direction: column;
    }
}
